<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/mode/clike/clike.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography" defer></script>
    <meta charset="UTF-8">
    <title>Swift Arena | Missions</title>
</head>
<body>

<nav th:replace="~{layout/components :: navbar}"></nav>

<main class="p-8">
    <div class="card bg-base-100 w-96 shadow-sm">
        <figure class="h-48 w-full">
            <img
                    src="https://avatar.iran.liara.run/public"
                    alt="aluno" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Fulano da Silva</h2>
            <div class="radial-progress mx-auto" style="--value:70;" aria-valuenow="70" role="progressbar">70%</div>
            <ul class="list bg-base-100 rounded-box shadow-md">

                <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Tentativas por aula</li>

                <li class="list-row">
                    <div class="text-4xl font-thin opacity-30 tabular-nums">01</div>
                    <div class="flex items-center gap-1">
                        <div class="badge badge-success badge-sm"></div>
                        <div class="badge badge-success badge-sm opacity-60"></div>
                        <div class="badge badge-success badge-sm opacity-20"></div>
                        <div class="badge badge-error badge-sm opacity-90"></div>
                        <div class="badge badge-neutral badge-sm opacity-10"></div>
                        <div class="badge badge-neutral badge-sm opacity-10"></div>
                    </div>

                </li>

                <li class="list-row">
                    <div class="text-4xl font-thin opacity-30 tabular-nums">02</div>
                    <div class="flex items-center gap-1">
                        <div class="badge badge-success badge-sm"></div>
                        <div class="badge badge-success badge-sm opacity-60"></div>
                        <div class="badge badge-success badge-sm opacity-20"></div>
                        <div class="badge badge-error badge-sm opacity-90"></div>
                        <div class="badge badge-neutral badge-sm opacity-10"></div>
                        <div class="badge badge-neutral badge-sm opacity-10"></div>
                    </div>

                </li>

                <li class="list-row">
                    <div class="text-4xl font-thin opacity-30 tabular-nums">03</div>
                    <div class="flex items-center gap-1">
                        <div class="badge badge-success badge-sm"></div>
                        <div class="badge badge-success badge-sm opacity-60"></div>
                        <div class="badge badge-success badge-sm opacity-20"></div>
                        <div class="badge badge-error badge-sm opacity-90"></div>
                        <div class="badge badge-neutral badge-sm opacity-10"></div>
                        <div class="badge badge-neutral badge-sm opacity-10"></div>
                    </div>
                </li>

            </ul>

            <div class="card-actions justify-end">
                <button class="btn btn-primary">Observações</button>
            </div>
        </div>
    </div>


</main>


</body>
</html>